<%= stylesheet_link_tag('application') %>


<div class= "title card">
<h1> Approved Reservations </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col">Section</th>
      <th scope="col">AVR</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">05/06/2023</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>PENDING</td>
    </tr>
    <tr>
      <td scope="row">05/06/2023</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>PENDING</td>
    </tr>
    <tr>
      <td scope="row">05/06/2023</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>PENDING</td>
    </tr>
  </tbody>
</table>
</div>
