
    <div class="title card">
    <h1> How to Reserve AVR </h1>
    </div>
    
    <div class = "body card">
    <body>
    <p style="text-indent: 25px;">
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    </p>
    <p style="text-indent: 25px;">
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    </p>
    <p style="text-indent: 25px;">
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    </p>    
    </body>
    </div>
    
    <div class="title card">
    <h1> FAQs </h1>
    </div>
    
    <div class = "body card">
    <body>
    <p style="text-indent: 25px;">
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    </p>
    <p style="text-indent: 25px;">
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    </p>
    <p style="text-indent: 25px;">
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    Lorem ipsum dolor sit amet. Est odit quam sed suscipit soluta et ipsum voluptate cum molestias internos ex neque quod eos galisum deserunt aut doloremque doloremque. Eum aliquam aliquam non repellendus quod est ipsa minima et dolore quaerat. Et velit enim est vitae numquam et soluta porro?
    
    Qui cumque quia in fugiat neque et dolor sint ut sequi corrupti cum necessitatibus internos. Sed nihil adipisci et distinctio impedit ut placeat reiciendis. Aut odio omnis vel expedita rerum et galisum praesentium qui minus reprehenderit qui deserunt praesentium sit saepe iure vel illo modi.
    
    Ab inventore soluta nam commodi vero sed sint fuga ut velit voluptatum eos suscipit exercitationem. Et dignissimos dignissimos aut molestiae cumque est optio aperiam qui saepe dolores ut consequatur quidem. Ad amet deleniti et labore esse ea sunt tenetur nam repudiandae aperiam et dolore voluptatibus ut illum quasi ad soluta consequatur.
    </p> 
       
    </body>
    </div>
  </body>
  </body>


  
</html>
