<h1>AVR Availability</h1>
<div class ="mt-5 text-center">
<table class="table">
<thead class="thead ">
<tr>
<th>Email</th>
<th>Full Name</th>
<th>Role</th>
<th>Actions</th>
</tr>
</thead>



<tbody>
<% @users.each do |user|  %>
<tr>
<td><%= user.email %></td>
<td><%= user.full_name %></td>

<%  if user.role == 'Student' %>
    <td>Student</td>
    <% elsif user.role == 'Teacher' %>
    <td>Teacher</td>
    <% elsif user.role == 'Admin' %>
    <td>Admin</td>
    <% elsif user.role == 'Staff' %>
    <td>Staff</td>
    <%else %>
    <td></td>
    <% end %>
<td> <%= button_to "Show", user, method: :get, class:"show" %> </td>
</tr>
<% end %>
</tbody>
</table>
<%= button_to "Add", new_user_path, method: :get, class:"Add btn btn-success" %>
</div>
