
.navbar-toggler:hover{
    color: #f1f1f1;
    right: 0;
  }

.navbar:hover{
    color: #f1f1f1;
}

.navbar-nav{
    background-color: #243A73;
}

.container{
    text-align: right;
    background-color: #243A73;
}
.nav-link{
    text-align: center;
    background-color: #998F60;
    border-radius: 10px;
    padding: 15px;
    }
.pending{
    background-color: #be4810;
}
.approved{
    background-color: #138522;
}

.nav-link:hover{
    background-color: #726944
    
}
.approved:hover{
    background-color: #03af1a;
}
.pending:hover{
    background-color: #e44d07;
}
.col{
    background-color: #F5F5F5;
}
.col-4{
    width: 20%;
    background-color: #243A73;
    flex: 0 0 20%; 
    margin-bottom: 0;
}
.p4 {
    background-color: #243A73;
}

.col-4 ,.p-3, .mb-2{
    background-color: #243A73;
    
}
.h1 {
    font-size: x-large;
}
.row{
    margin-bottom: -.5rem;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
    
}
.nav-link-approved{
    text-align: center;
    background-color: #4fb342;
    border-radius: 10px;
    padding: 15px;
    }
.nav-link-pending{
        text-align: center;
        background-color: #b12208;
        border-radius: 10px;
        padding: 15px;
        }